<!-- Extend the base.html template. -->
{% extends 'rango/base.html' %}
{% load staticfiles %}

<!-- Override the title block -->
{% block title_block %}
	About Rango
{% endblock %}

{% block body_block %}
	<h1>Rango says...</h1>
	<div>
		<p>here is the about page.</p><br/>
		<p>This tutorial has been put together by </p>
		
		<!-- 
			Strong is an emphasis tag. {{boldmessage}} is a django template variable. 
			... of which we can dynamically replace the content. 
		-->
		<strong>{{boldmessage}}</strong><br/>
	</div>
	<div>
		
		<!-- 
			Add a static image file 
		-->
		<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
		<img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a Cat." />
	</div>
{% endblock %}