<!DOCTYPE html>

<!--
	Informs the django template engine that we are using static files
	within our template.
		Allows us to access media in static dir via the static template tag.
		Will combine the URL specified in STATIC_URL

	DOCTYPE is always first otherwise a white space will be added and it will fail validation.
-->
{% load staticfiles %}

<html>
<head>
	<title>Rango</title>
</head>
<body>
	<a href="/rango/">Index</a><br/>
	<h1>Rango says...</h1>
	<div>
		
		<p>here is the about page.</p><br/>
		<p>This tutorial has been put together by </p>
		
		<!-- 
			Strong is an emphasis tag.
			{{boldmessage}} is a django template variable.
				... of which we can dynamically replace the content.

		-->
		<strong>{{boldmessage}}</strong><br/>

	</div>
	<div>
		<!-- Add a static image file -->
		<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
		<img src="{{MEDIA_URL}}cat.jpg" alt="Picture of a Cat." />
	</div>
</body>
</html>