<!DOCTYPE html>
<html>
<head>
	<title>Rango</title>
</head>
<body>
	<h1>Add a Category</h1>
	<div>
		<!--
			Data captured in this form is sent to /rango/add_category/ as a HTTP
			POST request.

			Two loops for hiddena nd visible fields respectively.
				The visible form fields are controlled by the 'fields' attribute
				in the ModelForm Meta class.
				These loops produce the necessary HTML markup for each element.
					We add any errors to the field,
					and help text.
		-->
		<form id="category_form" method="post" action="/rango/add_category/">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			{% endfor %}
			<input type="submit" name="submit" value="Create Category" />
		</form>
	</div>
</body>
</html>