<!DOCTYPE html>

<!--
	Informs the django template engine that we are using static files
	within our template.
		Allows us to access media in static dir via the static template tag.
		Will combine the URL specified in STATIC_URL

	DOCTYPE is always first otherwise a white space will be added and it will fail validation.
-->
{% load staticfiles %}

<html>
<head>
	<title>Rango</title>
</head>
<body>
	<h1>Rango says...</h1>
	<div>
				<!-- 
			Strong is an emphasis tag.
			{{boldmessage}} is a django template variable.
				... of which we can dynamically replace the content.

		-->
		<p>Hey there partner!</p><br/>
		<strong>{{boldmessage}}</strong>

	</div>
	<div>
		<h2>Most Liked Categories</h2>
		{% if categories %}
			<ul>
				{% for category in categories %}
					<li>
						<a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
	</div>
	<div>
		<h2>Most Viewed Pages</h2>
		{% if pages %}
			<ul>
				{% for page in pages %}
					<li>
						<a href="{{ page.url }}">{{ page.title }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>There are no pages present.</strong>
		{% endif %}
	</div>
	<div>
		<a href="/rango/about/">About</a><br />
		<a href="/rango/add_category/">Add a New Category</a><br />
		<!-- Add a static image file -->
		<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
	</div>
</body>
</html>