{% extends 'rango/base.html' %}
{% load staticfiles %}

<!-- Override the title of the template. -->
{% block title_block %}Register{% endblock %}

{% block body_block %}
	<h1>Register for Rango</h1>
	{% if registered %}
		Rango says: <strong>thank you for registering!</strong>
		<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
	{% else %}
		Rango says: <strong>register here!</strong><br />

		<!-- 
			enctype prevents the form from displaying binary when the user uploads a picture.
				The response is therefore broken down into multiple parts to be transmitted to the server.
				Otherwise the server wont receive all the data submitted.
		-->
		<form id="user_form" method="post" action="{% url 'rango:register' %}" enctype="multipart/form-data">
			{% csrf_token %}

			<!-- 
				Display each form; .as_p wraps each element in the form in a paragraph - denoted by HTML <p> tags.
			-->
			{{ user_form.as_p }}
			{{ profile_form.as_p }}

			<!-- Provide a button to click to submit the form -->
			<input type="submit" name="submit" value="Register" />
		</form>
	{% endif %}
{% endblock %}

